* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  font-family: lato,helvetica,arial,sans-serif;
  font-size: 13px;
  letter-spacing: 0.05em;
}

a {
  color: $colour-nav;
}

a, img {
  border: none;
  outline: none;
}

a:hover {
  color: $colour-nav-hover;
}

a:focus {
  color: $colour-nav-hover;
}

h1 {
  font-size: $x-6;
  @extend %hx;
  color: $colour-h1;
  a {
    color: #404041;
  }
}

h2 {
  font-size: $x-12;
  padding-bottom: $x-6;
  @extend %hx;
}

h3 {
  font-size: $x-12;
  padding-bottom: $x-6;
  @extend %hx;
}

h4 {
  font-size: $x-4;
  padding-bottom: $x-5;
  @extend %hx;
}

button {
  cursor: pointer;
}

fieldset {
  padding: $x-2 0;
}

table {
  text-align: left;
  border-collapse: collapse;
}

p {
  @extend %p;
}

blockquote {
  font-size: $x-6;
  font-weight: 300;
  margin: $x-9 $x-16 $x-12 $x-16;
  border-left: $x-1 solid $colour-rule;
  padding-left: $x-4
}

figcaption {
  display: block;
  font-size: $x-3;
  font-style: italic;
  font-weight: 300;
}


@media (max-width: 400px) {
  blockquote {
    margin: $x-9 $x-6 $x-12 $x-6;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  blockquote {
    margin: $x-9 $x-7 $x-12 $x-7;
  }
}
