.pagination {
  margin-bottom: $x-16;
  padding-bottom: $x-4;
  @extend %rule-bottom;
}

.pagination__next {
  margin-left: $x-6;
}

.pagination__prev, .pagination__next {
  font-size: $x-4;
  font-weight: 300;
}
