.pagination {
  margin-bottom: $x-1;
  padding-bottom: $x-4;
  @extend %rule-bottom;
  border-bottom: 2px;
  border-style: solid;
  border-color: $colour-rule;
}

.pagination__next {
  margin-left: $x-6;
}

.pagination__prev, .pagination__next {
  font-size: $x-4;
  font-weight: 300;
}
