.post {
  @extend %rule-bottom;
  padding-bottom: $x-4;
}

.author__avatar {
  width: $x-12;
  height: $x-12;
  display: block;
  float: left;
  border-radius: 3px;
  overflow: hidden;
}

.author__details {
  font-size: 16px;
  margin: 4px $x-3;
  display: inline-block;
  font-weight: 300;
}

.post__date {
  color: $colour-post-meta;
  display: block;
}

.post__author {
  margin: $x-4 0;
  display: block;
}

.post__tag {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  margin: 0;
  padding: 0;

  a {
    border-radius: $x-3;
    font-size: $x-3;
    display: inline-block;
    background-color: $colour-post-meta;
    color: white;
    padding: $x-1 $x-3;
  }

  a:hover {
    background-color: $colour-nav-hover;
  }
}

.post__tags {
  list-style-type: none;
  padding: $x-4 0 0 0;
  margin-bottom: $x-4;
}

.post__content div{
  @extend %p;
}
