%hx {
  font-weight: 100;
  color: $colour-hx;
  text-rendering: optimizeLegibility;
  a {
    color: $colour-hx;
    &:hover {
      color: $colour-nav-hover;
    }
  }
}

%p {
  font-size: $x-4;
  color: $colour-p;
  padding-bottom: $x-3;
  line-height: $x-6;
}
